<h1>Burger Logger!</h1>
<div class="notEaten">
<h2>Burgers that have not been devoured.</h2>

<ul>
    {{#each burger}}
        {{#unless this.dataValues.eaten}}
            <li>
                <p>{{this.dataValues.name}}</p>
                <button class="devour" data-id="{{this.dataValues.id}}">Devour!</button>
            </li>
        {{/unless}}
    {{/each}}
</ul>
</div>
<img src="GoodBurger.png" alt="GoodBurger">
<div class="eaten">
<h2>Burgers that have been devoured.</h2>

<ul>
    {{#each burger}}
        {{#if this.dataValues.eaten}}
            <li>
                <p>{{this.dataValues.name}}</p>
            </li>
        {{/if}}
    {{/each}}
</ul>
</div>
<div class="input-div">
<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label>Burger Name:</label>
        <input type="text" id="burgerName" name="name">
    </div>

    <button id="newBurger" type="submit">Add Burger</button>
</form>
</div>