body {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
.eaten {
    float: right;
    border: solid;
}
.notEaten {
    float: left;
    border: solid;
}
ul {
    justify-content: center;
}
.input-div {
    align-self: flex-end;
    justify-content: center;
    border: solid;
}